In [1]:
import pandas as pd

data=pd.Series([0.25,0.5,0.75,1.0], index=["a","b","c","d"])
print(data)
print(data["b"])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5

In [2]:
data=pd.Series([0.25,0.5,0.75,1.0], index=[2,5,3,7])
print(data)
print(data[5])

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64
0.5

In [3]:
population_dict={"California":39250017,
                 "Texas":27862596,
                 "Florida":20612439,
                 "New York":19745289,
                 "Illinois":12801539}
population=pd.Series(population_dict)
print(population)

California    39250017
Texas         27862596
Florida       20612439
New York      19745289
Illinois      12801539
dtype: int64

In [4]:
print(population["California"])

39250017

In [5]:
print(population["California":"Illinois"])

California    39250017
Texas         27862596
Florida       20612439
New York      19745289
Illinois      12801539
dtype: int64

In [6]:
area_dict={"California":423967,
           "Texas":695662,
           "New York": 141297,
           "Florida":170312,
           "Illinois": 149995}
area=pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [7]:
states=pd.DataFrame({"population":population,"area":area})
print(states)

            population    area
California    39250017  423967
Florida       20612439  170312
Illinois      12801539  149995
New York      19745289  141297
Texas         27862596  695662

In [8]:
print(states.index)
print(states.columns)

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')
Index(['population', 'area'], dtype='object')

In [9]:
data=pd.Series([0.25,0.5,0.75,1.0],
               index=["a","b","c","d"])
print(data)
print(data["b"])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5

In [10]:
data["e"]=1.25
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [11]:
print(data["a":"c"])
print(data[0:2])

a    0.25
b    0.50
c    0.75
dtype: float64
a    0.25
b    0.50
dtype: float64

In [12]:
data["e"]=1.25
print(data[(data>0.3) & (data<0.8)])
print(data[["a","e"]])

b    0.50
c    0.75
dtype: float64
a    0.25
e    1.25
dtype: float64

In [13]:
data=pd.Series(["a","b","c"],index=[1,3,5])
print(data)
print(data[1])
print(data[1:3])

1    a
3    b
5    c
dtype: object
a
3    b
5    c
dtype: object

In [16]:
print(data.loc[1])
print(data.loc[1:3])

a
1    a
3    b
dtype: object

In [17]:
print(data.iloc[1])
print(data.iloc[1:3])

b
3    b
5    c
dtype: object

In [19]:
area=pd.Series({"California":423967,"Texas":695662,
                "New York":141297,"Florida":170312,
                "Illinois":149995})
pop=pd.Series({"California":39250017,"Texas":27862596,
               "Florida":20612439,"New York":19745289,
               "Illinois":12801539})
data=pd.DataFrame({"area":area,"pop":pop})
print(data)

              area       pop
California  423967  39250017
Florida     170312  20612439
Illinois    149995  12801539
New York    141297  19745289
Texas       695662  27862596

In [20]:
print(data["area"])

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [21]:
data["density"]=data["pop"]/data["area"]
print(data)

              area       pop     density
California  423967  39250017   92.578000
Florida     170312  20612439  121.027520
Illinois    149995  12801539   85.346438
New York    141297  19745289  139.743158
Texas       695662  27862596   40.051916

In [22]:
print(data.iloc[:3,:2])

              area       pop
California  423967  39250017
Florida     170312  20612439
Illinois    149995  12801539

In [23]:
print(data.loc[:"Illinois",:"pop"])

              area       pop
California  423967  39250017
Florida     170312  20612439
Illinois    149995  12801539